.header {
  background-color: #1e317e;
  color:whitesmoke;
  padding: 10px 10px;
  display:block;
}
p{
  color:red;
}
hr{
  border-top: 2px solid white;
}

.info{
  font-size:medium;
}
.link{
  color: white;
}
.link:hover{
  color: yellow;
}
.card{
color:white;
text-align: center;
font-weight: bold;
padding-top:55px;
font-size: 25px;
align-self: center;
}

.password-toggle-icon{
  position:absolute;
  /* top: 8px;
  right: 50px; */
  /* z-index: 1000; */
  cursor: pointer;
}
.container{
  background-color: whitesmoke;
}
.form-control{
  width:"400px";
}
.form-label{
  font-weight: bold;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
